.navbar {
  background: url("images/banner_image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.app-brand {
  text-decoration: none;
  font-size: 70px;
  display: block;
  color: black;
}

.app-brand:hover {
  text-decoration: none;
}

.navbar-link {
  font-size: 26px;
  color: black;
}

nav a {
  position: relative;
}

nav a:hover {
  color: lightgoldenrodyellow;
  text-decoration: none;
  text-shadow: 4px 4px 12px black;
}

nav a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}

nav a:hover:before {
  text-decoration: none;
  color: lightgoldenrodyellow;
  visibility: visible;
  transform: scaleX(1);
}

@media only screen and (max-width: 800px) {
  .app-brand {
    font-size: 60px;
  }
  .navbar-link {
    font-size: 18px;
  }
}
