p {
  white-space: pre-wrap;
}

h1 {
  font-size: 60px;
  font-weight: 600;
}
h2 {
  font-size: 40px;
  font-weight: 400;
}

.post-controls {
  float: right;
}

.api-buttons {
  text-align: right;
}

.edit_icon {
  color: goldenrod;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 800px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 25px;
  }
  .post-controls {
    display: block;
  }
  .api-buttons {
    text-align: left;
  }
}
