.card {
  box-shadow: 0px 0px 12px #dddddd;
  transition: 0.1s;
  color: olive;
}

.card:hover {
  transform: translate(0, -8px);
}

.card-title {
  color: rgba(85, 107, 47, 0.6);
  font-weight: 800;
}

.card-title:hover {
  color: olivedrab;
}

.card-body {
  background-color: rgba(218, 197, 134, 0.1);
}
